[Unit]
Description=ircDDBGateway Node.js Dashboard
After=network.target ircddbgateway.target

[Service]
User=root
WorkingDirectory=/var/www-node/ircNodeDashboard
EnvironmentFile=/etc/opendv/ircnodedashboard.conf
ExecStart=/usr/local/bin/node webserver.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=irc-node-dashboard

[Install]
WantedBy=multi-user.target
